*
{
  box-sizing:border-box;
}
.left{
  width:20%;
}
.belowheader{
border-top: 85px solid rgb(20, 243, 243);
	border-left: 100px solid transparent;
    border-bottom: 85px solid rgb(68, 171, 231);
    border-right: 100px solid transparent;
    
}
.right{
  width:20%;
}
.center{
  width:60%;
}
#body{
    background:linear-gradient(-90deg,rgb(22, 207, 231),rgb(235, 123, 210));
}
button.PAQ{
    background-attachment:fixed;
    background: rgb(27, 146, 243);
    border-radius: 50%;
    width:150px;
    height:150px;
    top:20px;
    left:20px;
    position: absolute;
    font-size: large;
    font-family:cursive;
    border-color: rgb(0, 255, 34);

}
button:hover {
    background-color: #5f1f1f;
    color: #4c9ed9;
    border: 1px solid #111;
  }
  input:hover{
    background-color: #5178e4;
    
    border: 1px solid #111;
  }
.aa{
    background-attachment:fixed;
    background: rgb(238, 60, 184);
    border-radius: 50%;
    width:150px;
    height:150px;
    top:20px;
    right:20px;
    position: absolute;
    font-size: large;
    font-family:cursive;
    border-color: rgb(0, 255, 34);

}
#sb{
    font-size: larger;
    border-radius: 50%;
    position: relative;
    width:100px;
    height:60px;
    background:linear-gradient(-20deg,rgb(179, 240, 13),rgb(10, 248, 157));
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(244, 247, 246);
    opacity: 14; /* Firefox */
  }
  #privacy{
      right: 20px;
      left: 40px;
   
  }
 
.pp{
    color: "#aa";
    border-radius:50%;
    width:80px;
    height:30px;
    top:10px;
    right:90px;
    font-size:large;
}
.card {

    box-shadow: 0 4px 8px 0 rgba(35, 3, 124, 0.2);
    transition: 0.3s;
    width: 40%;
    color:white;
    background-color: rgb(175, 129, 123);
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(240, 11, 11, 0.2);
  }
  
  .container {
    padding: 7px 16px;
  }
#footer {
    position: relative;
    padding:3px;
    top:100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212aaa;
    color: white;
    text-align: center;
  }
  
